<style>
<!--
h2 {
	font-size: 2em;
}
.input, label, .submit {
	font-size: 1.3em;

	width: 400px;
	padding-top: 15px;
	
}
.submit {

}

input {
	padding: 15px;
}
input[type=submit]{
	padding: 5px 50px;
}
select {
	padding: 5px 50px;
	font-size: 1.3em;
}


-->
</style>
<h2>Training Course Maps</h2>
<?php echo $this->Form->create('Maps', array('action' => 'view'));?>

<?php echo $this->Form->input('courses', array('label' => ''));?>	
<?php echo $this->Form->submit('View Map');?>
<?php echo $this->Form->end();?>
