<h2>EES Partners</h2>
<fieldset><legend>EES Partners</legend>
<label>Choose an EES Partner</label>
<?php echo $this->Form->input('Partner', array(
	'type' => 'select',
	'options' => $partners
));?>



</fieldset>
