<?php echo $this->element('aj_styles');?>
<h2 class="page_header">Please Register with your Non-Profit Affiliate</h2>
<div class="action_chooser">
<?php echo $this->Html->link('Download Registration Form', array('action' => 'download'));?>
<?php echo $this->Html->link('Activate Registration', array('action' => 'activate'));?>
</div>
