/**
** Ajax-loaded Styles
** Print these styles to a page within <style> tags to allow for
** styling of ajax-loaded pages
**/
.page_header {
	padding: 25px;
	font-size: 2em;
}
.menu li {
	display: inline;

}
.menu a {
	background: black;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: 15px;
	margin: 0 0 0 0;
	line-height: 3em;
}
.login_container {
	margin: auto;
	padding: 2%;
	width: 800px;
	
}
.login_pic {
	padding: 1%;
	background: salmon;
	width: 40%;
	display: inline;
}
.login_container table {

	width: 100%;
}
table {

	width: 100%;

}


td {
	background: white;
	text-align: left;
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	padding: 10px;
	margin: 2px;
}
td input {
	padding: 7px;
	width: 300px;
}
.login_container table td {
	padding: 5%;
}
.login_container table td:first-child {
	padding: 10%;
	background: #FFF;
}
select {
	padding: 2%;
	font-size: 2em;
}
.register_form {
	padding: 55px 15px;
	border: solid thin red;
	width: 65%;
	background: #FFF;
}
.register {
	text-align: center;
	display: none;
}
.register a {
	background: #333;
	padding: 25px 45px;
	font-size: 2em;
	color: white;
	font-family: Arial, sans-serif;
	text-decoration: none;
	line-height: 4em;	
}
.register a:hover {
	background: #FFA500;
}

/*JQT*/
#calbody {
	/* background gradient with image. background color can be changed */
	background:#F5F9FF url(http://jquerytools.org/demos/dateinput/gradient/h300.png) repeat-x;
 
	/* CSS shadow for the calendar body */
	-moz-box-shadow:0 0 10px 0px #ccc;
	-webkit-box-shadow:0 0 10px 0px #ccc;
}
 
/* styling of the current date */
#caltoday {
	/* some shadow for the text */
	text-shadow:0 1px 0 #000;
 
	/* inner shadow */
	-moz-box-shadow:inset 0 0 10px 0px #000;
}



fieldset {
	font-family: Helvetica, Arial, sans-serif;
	border: solid thin #333;
	padding: 25px;
}
legend {
	background: #333;
	color: #FFF;
	padding: 5px 15px;
}

.action_chooser {
	padding-left: 55px;
	
}
.action_chooser a {
	background: #333;
	padding: 10px 50px;
	text-decoration: none;
	color: white;
	margin: 2px;
}
.action_chooser a:hover {
	background: #FFA500;
}
