@import url(reset.css);
@import url(train.css);
@import url(statics.css);

.message {
	position: absolute;
	bottom: 0px;	
	margin: auto;
	width: 90%;
	font-size: 0.8em;
	background: #333;
	color: white;
	padding: 15px;
	text-align: center;
	border: solid thin black;
	border-bottom: none;
}

body {
	background: #FFF;
	font-family: Arial, sans-serif;
}


body #content {
	padding: 30px 25px;
}


#header {
	position: relative;
	background: #000	;
	padding: 10px;
	color: #FFF;
}
#header img {
	cursor: pointer;
}

#header h1 {
	cursor: pointer;
	font: 28px Arial;
	color: #FFF;
	font-weight: bold;
	float: left;
}

table.header {
	width: 100%;
}

table.header td {   
	padding: 5px;
	vertical-align: middle;
}

.status {
	position: relative;
	float: right;
	

.page_header {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 13px;
}
}
.highlight {
	color: #FFA500;
}

#footer {
	padding: 2%;
	background: #CCC;
	margin-top: 30%;
}


#footer .poweredby {
	background: #EEE;
	padding: 15px;
	font-size: 12px;
	border: solid thin black;
	
	
}


#content {
	min-height: 500px;
}


span.in, span.out {
	padding: 5px 25px;
	font-weight: bold;

}

span.picked {
	color: white;
	background: #333;	
}

span.notpicked:hover {
	background: #FFA500;
}

span a {
	color: white;
	text-decoration: none;
}


span a:hover {
	color: yellow;
}


span.picked a {
	color: white;
	text-decoration: none;
}

.displayName {
	float: left;
	color: white;
	padding: 0px 25px;
}


/**
**/
table.login {
	border: solid thin white;
	margin: auto;
	width: 100%
	color: #000;
	background: #777;
}

