table.login {
	border: solid thin #DDD;	
	width: 650px;
	background: white;
	color: #AAA;
}

table.login td {
	padding: 5px;
}

tr.window_bar th {
	overflow: hidden;
	text-align: right;
	padding-bottom: 4px;
}

tr.window_bar th span {
	padding: 15px;
	color: white;
	background: black;
}

tr.window_bar th:first-child {
	background: #f0f8ff;
}

td.notebox:first-child {
	background: #f0f8ff;
	color: #666;
	width: 40%;
	font-size: 14px;
	padding: 15px;
}

.notebox .title {
	font-weight: bold;
	color: #777;	
	border-bottom: solid thin #CCC;
}

.nb_content td {
	padding: 5px;
	vertical-align: top;
	font-size: 0.9em;

}


.title th {

	padding-bottom: 10px;
	font-size: 14px;
	text-align: left;
}

input[type=submit]{
	background: #2F4F4F;
	color: white;
	padding: 7px;
	border: solid thin #CCC;
}

.right {
	text-align: right;
}


input.enhanced_btn {
	/*padding-right: 40px;*/
	padding: 7px 20px;
	cursor: pointer;
	border: none;
}
input.enhanced_btn:hover {
	color: #EEE;
}


input.btn_alt {
	background: #e6e6fa;
	border: solid thin white;
	color: #AAA;
	cursor: pointer;
}

input[type=text],
input[type=password]{
	border: solid thin #EEE;
	padding: 5px;
	background: white;
}

table.pass_reminder {
	width: 100%;
}
table.pass_reminder td:first-child {
	padding: 0 0 0 0;
}
table.pass_reminder td {
	vertical-align: middle;
}

a.forgot {
	color: #777;
	text-decoration: none;
}

td.label {
	
	vertical-align: middle;
	font-size: 14px;
}
