h2 {
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px;
	padding-left: 0px;
	line-height: 2em;

}
h3 {
	font-size: 1.0em;
	font-weight: normal;
	color: #777;
	padding: 7px;
}

h3.button a {
	background: #333;
	text-decoration: none;
	color: white;
	padding: 5px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

h3.button a:hover {
	color: #EEE;
}

.shadow_overhead {
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}

.rounded {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.rounded_top {
	
}

.rounded_bottom {

}
