/*Primary Training Interface*/
.element_bar {
	background: #000;
	padding: 45px 15px;
	overflow: hidden;
	-moz-border-top-left-radius: 15px;
	-moz-border-top-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-webkit-border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.nav_bar {
	background: #333;
	color: #FFF;	
	clear: both;
	padding: 15px;
	overflow: hidden;
}

#content {
	padding: 0 0 0 0;
	margin: none;
}
.element_counter {
	padding: 25px;
	font-size: 1.5em;
	letter-spacing: 3px;
}
.element_name {
	padding: 25px;
	font-size: 1.5em;
	text-align: center;
}
.nav_bar a {
	color: #FFF;
	font-size: 2em;
	font-weight: bold;
	padding: 17px;
}
.nav_bar a:hover {
	color: #EEE;
}
.course_name {
	font-family: Arial, sans-serif;
	padding: 17px;
	color: #FFF;
	font-weight: bold;
}
.course_code {
	color: #FFF;
	padding: 15px;
	border-left: solid thin #333;
}
div.show_me {
	background: #FFF;
	padding: 15px;
}
span.done {
	float: right;
	background: #EEE;
	padding: 15px;
}
a.mark_done {
	background: #777;
	border: solid thin #777;
	color: white;
	padding: 5px 25px;
	float: right;
	text-transform: Capitalize;
	font-size: 12px;
	font-family: Arial, sans-serif;
	
}
a.mark_done:hover {
	color: white;
	background: yellowgreen;
	border: solid thin yellowgreen;
}

h2.page_header{
   font-size: 24px !important;
   background: #EEE;
   color: #777 !important;
	padding: 5px 15px;
   margin-bottom: 22px;
   border-radius: 10px 10px;
}
.para {
   color: black;
}
/**Video Page**/
.video_container {
	padding-bottom: 50px;
}


