<?php echo $this->element('aj_styles');?>
<style type="text/css">
<!--
body{
		overflow: hidden;
}
-->
</style>
<div class="page">
	<div class="poster"></div>
	<h2>Choose An Activity</h2>
	<h3 class="button">
		<a href="/partners/register/">Register</a>
		<a href="/train">Train</a>
	</h3>
</div>
