<?php require_once APP."views/elements/_mapData.ctp";?>
<!--START agree-->

<script>
$(document).ready(function(){
	//$('.mark_done').html('I agree');
});
</script>
<?php
//Build the link to the static agreement page
//the number 1 is hardcoded b/c that is the element type ID for agreements
$agreement = $course_id.'/1/'.$rid;
?>
<div class="para">
<?php echo $this->element($agreement);?>

</div>
<!--END agree-->
