<h2 class="page_header">Read</h2>
<?php //echo $this->element('_read');?>

<script>
$(document).ready(function(){

	//url builder
	var base = "http://"+"<?=$user['host'];?>"+"/OHHAC-EES/read/";

	//var url = 'https://docs.google.com/viewer?url=http://demandtraining.org/webroot/OHHAC-EES/read/101.pdf&embedded=true';
	var goog = "https://docs.google.com/viewer?url=";

	var file = "<?php echo $rid;?>.pdf";

	var embed = "&embedded=true";


	var url = goog+base+file+embed;

	//alert(url);

	$('#tmp').attr('src', url); 
	
});
</script>

<iframe id="tmp" width="100%" height="750px" src="" scrolling="yes"></iframe>
