<style>
<!--
h2 {
	font-size: 2em;
}
.input, label, .submit {
	font-size: 1.3em;

	width: 400px;
	padding-top: 15px;
	
}
.submit {

}

input {
	padding: 15px;
}
input[type=submit]{
	padding: 5px 50px;
}
select {
	padding: 5px 50px;
	font-size: 1.3em;
}


-->
</style>
<h2>Initialize User Training Course Map</h2>
<h3>Active User: <?php echo $user['username'];?></h3>
<?php echo $this->Form->create('UserTrainingCourseMaps', array('action' => 'init'));?>

<?php echo $this->Form->input('courses', array('label' => ''));?>	
<?php echo $this->Form->submit('Initialize Map');?>
<?php echo $this->Form->end();?>
